<div class="form-group">
    <mat-form-field class="example-half-width">
        <mat-label>Tài khoản gợi nhớ</mat-label>
        <input matInput type="text" [disabled]="founded" [(ngModel)]="tenGoiNhoModel.account" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Chọn ngân hàng</mat-label>
        <mat-select [(ngModel)]="selectedBank" [disabled]="founded">
            <mat-option *ngFor="let bank of banks" [value]="bank.manganhang">
                {{bank.tennganhang}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary" [disabled]="founded" (click)="findGoiNhoExisted()">Kiểm tra tài khoản</button>
    </div>
    <mat-form-field class="example-half-width">
        <mat-label>Họ tên người gợi nhớ</mat-label>
        <input matInput type="text" [(ngModel)]="tenGoiNhoModel.fullName" readonly>
    </mat-form-field>
    <mat-form-field class="example-half-width">
        <mat-label>Đặt tên người gợi nhớ</mat-label>
        <input matInput type="text" [disabled]="!founded" [(ngModel)]="tenGoiNhoModel.nickName">
    </mat-form-field>
</div>
<div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="!founded" (click)="saveGoiNho()">Lưu tên gợi nhớ</button>
    <button mat-raised-button color="warn" [disabled]="!founded" (click)="reset()">Tìm kiếm tên khác</button>
</div>