#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
    height: 400px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.text{
    color: blue;
    font-family: 'Times New Roman';
    margin-right: 20px;
}

.message-notification {
    font-size: 18px;
    color: #f53434;
    margin-bottom: 10px;
    margin-left: 35%;
}

.cap{
    padding-top: 20px;
}

.notice{
    font-size: 18px;
    color: blue;
    margin-bottom: 10px;
    margin-left: 35%;;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: medium;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.form-control{
    height: 35px;
    font-size: 15px;
}
