<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Quên mật khẩu</div>
                    <div class="card-body">
                        <div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tài khoản</span>
                                        </div>
                                        <input style="height: 38px;" type="text" class="form-control"
                                            placeholder="Email hoặc số điện thoại" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Kiểm tra tài khoản</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-8 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Mã OTP</span>
                                        </div>
                                        <input style="height: 38px;" type="text" class="form-control" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                    </div>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu mới</span>
                                        </div>
                                        <input style="height: 38px;" type="text" class="form-control" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Xác nhận mật khẩu</span>
                                        </div>
                                        <input style="height: 38px;" type="text" class="form-control" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                    </div>
                                </div>
                            </div>

                            <div style="margin-left: 158px;" class="col-md-8">
                                <button class="btn" type="submit" class="btn btn-primary">
                                    Đổi mật khẩu
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>