<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Danh sách tên gợi nhớ"> -->
<div>
  <mat-form-field class="example-half-width">
    <mat-label>Tìm kiếm tài khoản</mat-label>
    <input matInput type="text" (input)="search($event.target.value)" [value]="maTaikhoan">
  </mat-form-field>

  <ul *ngIf="Show" class="search-result">
    <li *ngFor="let item of list$ | async" [value]="item.mataikhoanthanhtoan" (click)="fill(item.mataikhoanthanhtoan)">
      {{ item.mataikhoanthanhtoan }}
    </li>
  </ul>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="mataikhoanthanhtoan">
      <th mat-header-cell *matHeaderCellDef> Mã tài khoản </th>
      <td mat-cell *matCellDef="let element"> {{element.mataikhoanthanhtoan}} </td>
    </ng-container>
    <ng-container matColumnDef="hoten">
      <th mat-header-cell *matHeaderCellDef> Họ tên </th>
      <td mat-cell *matCellDef="let element"> {{element.hoten}} </td>
    </ng-container>
    <ng-container matColumnDef="sodu">
      <th mat-header-cell *matHeaderCellDef> Số dư </th>
      <td mat-cell *matCellDef="let element"> {{element.sodu | currency:'VND':'symbol'}} </td>
    </ng-container>
    <ng-container matColumnDef="trangthai">
      <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
      <td mat-cell *matCellDef="let element"> {{element.trangthai}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- </mat-tab>
  <mat-tab label="Đổi mật khẩu"> -->

<!-- </mat-tab>
</mat-tab-group> -->