<div id="modal-content-wrapper">
    <header id="modal-header">
        <h2 id="modal-title">Cập nhật tên gợi nhớ</h2>
    </header>
    <section id="modal-body">
        <p>Tên gợi nhớ cũ: {{ message }}</p>
        <mat-form-field class="example-half-width" *ngIf="saved">
            <mat-label>Tên gợi nhớ</mat-label>
            <input matInput type="text" [(ngModel)]="bietdanhgoinho">
        </mat-form-field>
        <p style="color: blue;" *ngIf="!saved">{{ ketQua }}</p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="saveReminder()" *ngIf="saved">Cập nhật</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Đóng</button>
    </footer>
</div>