<mat-form-field class="example-half-width">
    <mat-label>Tìm kiếm tài khoản</mat-label>
    <input matInput type="text" [(ngModel)]="account" placeholder="Điền email hoặc số điện thoại">
</mat-form-field>
<mat-form-field appearance="fill" style="margin-right: 20px;">
    <mat-label>Từ ngày</mat-label>
    <input matInput [matDatepicker]="dp1" [(ngModel)]="start" readonly>
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
</mat-form-field> 
<mat-form-field appearance="fill">
    <mat-label>Đến ngày</mat-label>
    <input matInput [matDatepicker]="dp2" [(ngModel)]="end" readonly>
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" style="margin-left: 20px;" (click)="getLichSuGiaoDichByEmployee()">Tìm kiếm</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="mataikhoannguoigui">
            <th mat-header-cell *matHeaderCellDef> Tài khoản chuyển </th>
            <td mat-cell *matCellDef="let element"> {{element.mataikhoannguoigui}} </td>
        </ng-container>
        <ng-container matColumnDef="mataikhoannguoinhan">
            <th mat-header-cell *matHeaderCellDef> Tài khoản nhận </th>
            <td mat-cell *matCellDef="let element"> {{element.mataikhoannguoinhan}} </td>
        </ng-container>
        <ng-container matColumnDef="sotiengiaodich">
            <th mat-header-cell *matHeaderCellDef> Số tiền </th>
            <td mat-cell *matCellDef="let element"> {{element.sotiengiaodich | currency:'VND':'symbol'}} </td>
        </ng-container>
        <ng-container matColumnDef="noidungchuyenkhoan">
            <th mat-header-cell *matHeaderCellDef> Nội dung </th>
            <td mat-cell *matCellDef="let element"> {{element.noidungchuyenkhoan}} </td>
        </ng-container>
        <ng-container matColumnDef="ngaygiaodich">
            <th mat-header-cell *matHeaderCellDef> Ngày giao dịch </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaodich | date: 'dd/MM/yyyy - hh:mm:ss a'}} </td>
        </ng-container>
        <ng-container matColumnDef="chitiet">
            <th mat-header-cell *matHeaderCellDef> Nội dung chi tiết </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" [value]="element.id" (click)="getLichSuGiaoDichByEmployeeDetails(element.id)">
                    Chi tiết
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>