<div class="form-group">
    <mat-form-field class="example-half-width">
        <mat-label>Mật khẩu cũ</mat-label>
        <input matInput type="password" [(ngModel)]="changePassModel.oldPassWord">
    </mat-form-field>
    <mat-form-field class="example-half-width">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput type="password" [(ngModel)]="changePassModel.newPassWord">
    </mat-form-field>
    <mat-form-field class="example-half-width">
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input matInput type="password" [(ngModel)]="changePassModel.confirmPassWord">
    </mat-form-field>
</div>
<div class="example-button-row">
    <button mat-raised-button color="primary">Đổi mật khẩu</button>
    <button mat-raised-button color="warn">Reset</button>
</div>