<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Danh sách nợ bạn đã tạo ({{ SoluongTaoNo }})">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceTaoNo">
                <ng-container matColumnDef="hotennguoibinoTaoNo">
                    <th mat-header-cell *matHeaderCellDef> Họ tên người nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.hotennguoibino}} </td>
                </ng-container>
                <ng-container matColumnDef="sotiennoTaoNo">
                    <th mat-header-cell *matHeaderCellDef> Số tiền nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.sotienno | currency:'VND':'symbol'}} </td>
                </ng-container>
                <ng-container matColumnDef="noidungnhacnoTaoNo">
                    <th mat-header-cell *matHeaderCellDef> Nội dung nhắc nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.noidungnhacno}} </td>
                </ng-container>
                <ng-container matColumnDef="chinhsuaTaoNo">
                    <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn" [value]="element.id" (click)="update(element.id, element.manguoinhacno, element.manguoibino, 4)">Hủy
                            nhắc nợ
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTaoNo"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTaoNo;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Danh sách nợ bạn chưa thanh toán ({{ SoluongChuaThanhToan }})">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceChuaThanhToan">
                <ng-container matColumnDef="hotennguoinhacnoChuaThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Họ tên người nhắc nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.hotennguoinhacno}} </td>
                </ng-container>
                <ng-container matColumnDef="sotiennoChuaThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Số tiền nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.sotienno | currency:'VND':'symbol'}} </td>
                </ng-container>
                <ng-container matColumnDef="noidungnhacnoChuaThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Nội dung nhắc nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.noidungnhacno}} </td>
                </ng-container>
                <ng-container matColumnDef="chinhsuaChuaThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" style="margin-right: 10px;" [value]="element.id"
                            (click)="payDebt(element.id, element.manguoinhacno, element.manguoibino, element.mataikhoannhacno, element.hotennguoinhacno, element.hotennguoibino, element.sotienno, element.noidungnhacno)">
                            Thanh toán nợ
                        </button>
                        <button mat-raised-button color="warn" [value]="element.id" (click)="update(element.id, element.manguoinhacno, element.manguoibino, 3)">
                            Từ chối thanh toán
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsChuaThanhToan"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsChuaThanhToan;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Danh sách nợ người khác từ chối thanh toán cho bạn ({{ SoluongTuChoiThanhToan }})">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceTuChoiThanhToan">
                <ng-container matColumnDef="hotennguoinhacnoTuChoiThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Họ tên người từ chối </th>
                    <td mat-cell *matCellDef="let element"> {{element.hotennguoibino}} </td>
                </ng-container>
                <ng-container matColumnDef="sotiennoTuChoiThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Số tiền nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.sotienno | currency:'VND':'symbol'}} </td>
                </ng-container>
                <ng-container matColumnDef="noidungnhacnoTuChoiThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Nội dung nhắc nợ </th>
                    <td mat-cell *matCellDef="let element"> {{element.noidungnhacno}} </td>
                </ng-container>
                <ng-container matColumnDef="chinhsuaTuChoiThanhToan">
                    <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" style="margin-right: 10px;" [value]="element.id"
                            (click)="update(element.id, element.manguoinhacno, element.manguoibino, 1)">
                            Tiếp tục nhắc nợ
                        </button>
                        <button mat-raised-button color="warn" [value]="element.id" (click)="update(element.id, element.manguoinhacno, element.manguoibino, 4)">
                            Hủy nhắc nợ
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTuChoiThanhToan"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTuChoiThanhToan;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
</mat-tab-group>